@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styleTabs.css">
    <script src="/js/tabs.js"></script>
</head>
<body>
    <button class="tablink" id="tabButton1">Product overview</button>
    <button class="tablink" id="tabButton2">Transactions Summary</button>
    <button class="tablink" id="tabButton3">Intake</button>
    <button class="tablink" id="tabButton4">Outflow</button>
    <button class="tablink" id="tabButton5">Balance report</button>

    <div id="Tab1" class="tabcontent">

    </div>

    <div id="Tab2" class="tabcontent">
        <style>
            table#t01 {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
        <table id="t01">
            <tr><th>Flowmeter</th><th>Transaction</th><th>End date</th><th>Receipt</th><th>DensityAt15</th><th>VolumeAt15</th><th>Mass</th></tr>
            @foreach (var transaction in Model[0])
            {
                <tr>
                    <td>@transaction.Flowmeter</td>
                    <td>@transaction.TransactionNumber</td>
                    <td>@transaction.EndDate</td>
                    <td>@transaction.Receipt</td>
                    <td>@transaction.DensityAt15</td>
                    <td>@transaction.VolumeAt15</td>
                    <td>@transaction.Mass</td>
                </tr>
            }
        </table>
    </div>

    <div id="Tab3" class="tabcontent">
        <style>
            table#t01 {
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
            }

            th {
                text-align: left;
            }
        </style>
        <table id="t01">
            <tr><th>Date</th><th>Volume</th><th>Mass</th></tr>
            @foreach (var transaction in Model[1])
            {
                <tr>
                    <td>@transaction.Date</td>
                    <td>@transaction.Volume15</td>
                    <td>@transaction.Mass</td>
                </tr>
            }
        </table>
    </div>

    <div id="Tab4" class="tabcontent">
        <h3>About</h3>
        <p>Bahgo4</p>
    </div>

    <div id="Tab5" class="tabcontent">
        <h3>About</h3>
        <p>Bahgo5</p>
    </div>

</body>
</html>
